.item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 500px;
  margin: 40px auto;
  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.item-detail img {
  width: 250px;
  margin-bottom: 20px;
}

.item-detail button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
}